/* styles.css */
.popup-style {
    max-height: 200px;
    padding: 10px;
    background-color: #e0ebc7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
  }
  
  .btn-style{
    display: block;    
    font-size: 1rem;
    background-color: #e0ebc7;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }

  .main-div{
    height: 400px;
    width: 400px;
  }